{% extends 'base.html.twig' %}

{% block title %}Productos{% endblock %}

{% block body %}
    <div class="content d-flex flex-column flex-column-fluid">
        <div class="subheader py-2 py-lg-4 subheader-solid" id="kt_subheader">
            <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
                <div class="d-flex align-items-center flex-wrap mr-2">
                    <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">Productos</h5>
                    <div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-5 bg-gray-200"></div>
                    <div class="d-flex align-items-center" id="kt_subheader_search">
                        <span class="text-dark-50 font-weight-bold" id="kt_subheader_total">
                            {{ pagination.getTotalItemCount }} registros</span>
                        <form action="{{ path('products.index') }}" id="search" class="ml-5">
                            <div class="input-group input-group-sm input-group-solid" style="max-width: 175px">
                                <input type="text" name="q" value="{{ app.request.query.get('q') }}" class="form-control" placeholder="Buscar...">
                                <div class="input-group-append cursor-pointer" onclick="document.getElementById('search').submit();">
                                    <span class="input-group-text">
                                        <span class="svg-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <rect x="0" y="0" width="24" height="24"></rect>
                                                    <path d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
                                                    <path d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z" fill="#000000" fill-rule="nonzero"></path>
                                                </g>
                                            </svg>
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="d-flex align-items-center">
                    <a href="{{ path('products.export') }}" target="_blank" data-toggle="tooltip" title="" data-placement="left" data-original-title="Exportar todos los productos" class="btn btn-sm btn-secondary btn-icon mr-1"><i class="fas fa-file-pdf text-dark-50"></i></a>
                    <a href="{{ path('products.new') }}" class="btn btn-light-primary btn-sm font-weight-bold ml-2"><i class="fa fa-plus"></i> Crear</a>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="card card-custom">
                <div class="card-header">
                    <div class="card-title">
                        <span class="card-icon">
                            <i class="flaticon2-list-2 text-primary"></i>
                        </span>
                        <h3 class="card-label">Productos</h3>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Producto</th>
                                <th>Categoria</th>
                                <th>Fecha creación</th>
                                <th>Status</th>
                                <th style="text-align: right;">Acciónes</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for product in pagination %}
                            <tr>
                                <td>{{ product.id }}</td>
                                <td>
                                    <span class="text-primary font-weight-bold">{{ product.code }}</span><br>
                                    {{ product.name }}
                                </td>
                                <td>{{ product.category.name }}</td>
                                <td>
                                    <span data-toggle="tooltip" title="" data-placement="top" data-original-title="{{ product.createdAt|date('Y-m-d H:i:s') }}">{{ product.createdAt|date('Y-m-d') }}</span>
                                </td>
                                <td>
                                    {% if product.active %}
                                        <span class="label label-success label-inline label-pill">Activo</span>
                                    {% else %}
                                        <span class="label label-warning label-inline label-pill">Inactivo</span>
                                    {% endif %}
                                </td>
                                <td align="right">
                                    <a href="{{ path('products.show', { id: product.id }) }}" data-toggle="tooltip" title="" data-placement="top" data-original-title="Ver Producto" class="btn btn-sm btn-secondary btn-icon mr-1"><i class="fas fa-eye text-dark-50"></i></a>
                                    <span data-action="delete-entity" data-id="{{ product.id }}" data-toggle="tooltip" title="" data-placement="top" data-original-title="Eliminar Producto" class="btn btn-sm btn-danger btn-icon mr-1"><i class="fas fa-trash"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    {{ knp_pagination_render(pagination, 'packages/pagination/twitter_bootstrap_v4_pagination.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $("[data-action=delete-entity]").click(function(e){
            e.preventDefault();

            if(confirm("Realmente deseas eliminar este registro?")){
                window.location = `{{ path('products.index') }}/${ $(this).data('id') }/delete`
            }
        })
    </script>
{% endblock %}